.mcontainer {
  display: flex;
  justify-content: center;
  height: 6rem;
  align-items: center;
}
.retour-acc {
  position: absolute;
  left: 0rem;
}
.container-canvas {
  height: 40vh;
  width: 98vw;
  margin: 0 auto;
}
canvas {
  border-radius: 1rem;
}
